body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 10px;
}

#board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#board button {
    min-height: 50px;
    min-width: 50px;
}

#winner {
    min-height: 20px;
}